* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.sideBar {
    width: 500px;
}

.textContainer {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.floatContainer {
    overflow: auto;
}

.float {
    float: left;
}

